

*{
  box-sizing:border-box;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
  font-family:'MyWebFont', Fallback, sans-serif;
     
}

#chicken{
  background-color: #E86D6D;
}
#beef{
  background-color: #85aff2;
  
}
#shushi{
  background-color: #F6EB0F;
}
.container{
  padding:5px;
}

h1.ourmenu{
 
  margin:20px;
  font-size:4em;
   font-weight:bold;
  color:purple;
}
p{margin-top:1em;}
h3{margin-bottom:1em;}


.navbar-collapse li{
  border-bottom:1px solid black;
}


a.navbar-brand{
  font-size:3em;
  font-weight:bold;
 
}

#chicken,#shushi,#beef{padding:1em;margin:10px; border:1px solid black;font-size:1.3em;}
.navbar-nav a{
  
   
  font-size: 1.5em;
  
  background-color: gray;
  color:black;
}



